body {
    background-color: #f2f2f2;
    overflow: hidden;
}

main {
    background-image: url("img/rodape.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 86vh;
}

.modelos {
    display: none;
}
/* Espaco reservado para organizacao do titulo */

.titulo {
    align-items: center;
    background-color: #d9d9d9;
    font-size: 30px;
    display: flex;
    height: 14vh;
}

.titulo h1 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 50px;
}

/* Espaco reservado para organizacao dos botoes */

.organizando-botoes {
    display: flex;
    justify-content: center;

}

.espaco-botoes {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin-top: 3em;
    width: 90vw;
}

.botoes-de-medida {
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 7px;
    box-shadow: 0px 0px 4px -2px #222222;
    cursor: pointer;
    display: flex;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    justify-content: center;
    transition: 200ms;
    width: 250px;
}

.botao-atual {
    box-shadow: 0px 0px 4px 0px #00C2FF;
}

.botoes-de-medida:hover {
    box-shadow: 0px 0px 4px 0px #0051ff;
}

/* Espaco reservado para o conversor */

.espaco-conversor {
    display: none;
    justify-content: center;    
    transition: all ease .2s;
}

.area-de-conversao {
    background-color: #e8e8e8;
    border-radius: 20px;
    box-shadow: 0 0 10px -5px black;
    height: 55vh;
    margin-top: 50px;
    width: 87vw;
}

/* Espaco reservado para a parte superior do conversor */

.area-botao-indicador {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.botao-voltar {
    align-items: center;
    background-color: #d9d9d9;
    border-radius: 9px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    font-family: 'montserrat';
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin-left: 20px;
    padding: 10px 14px;
}

.indicador {
    font-family: 'montserrat';
    font-size: 22px;
    margin-right: 20px;
    opacity: 0.5;
    padding: 10px 12px;
}

/* Espaco reservado para a parte principal do conversor */

.lado-a-lado {
    display: flex;
    justify-content: space-around;
}

.organizacao-conversao {
    display: flex;
    flex-direction: column;
    height: 170px;
    justify-content: space-around;
    margin-top: 50px;
}

.indicador-coversao {
    font-family: 'montserrat';
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.elementos-conversao {
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
    display: flex;
    font-size: 18px;
    height: 34px;
    text-align: center;
    width: 240px;
}

.selecionador-medida {
    background-color: #d9d9d9;
    border: none;
    border-radius: 10px;
    display: flex;
    font-size: 18px;
    height: 36px;
    padding: 0px 0px 0px 10px;
    text-align: center;
    width: 245px;
}

.opcoes {
    font-family: 'montserrat';
    text-align: center;
}

.imput-a-converter {
    margin-bottom: 20px;
}

.imput-convertido {
    margin-bottom: 20px;
}

/* Espaco reservado para responsividade */

@media (max-width:1000px) {
    main {
        background-color: #f2f2f2;
        background-image: none;
        overflow: auto;
    }
    .titulo {
        font-size: 30px;
        height: 14vh;
    }
    .espaco-botoes {
        align-items: center;
        flex-direction: column;
    }
    .botoes-de-medida {
        margin-bottom: 7px;
        width: 80vw;
    }
    .espaco-conversor {
        padding-bottom: 80px;
    }
    .area-de-conversao {
        background-color: #e8e8e8;
        border-radius: 20px;
        box-shadow: 0 0 10px -5px black;
        height: auto;
        margin-bottom: 2em;
        margin-top: 50px;
        width: 87vw;
    }
    .lado-a-lado{
        flex-direction: column;
    }
    .organizacao-conversao {
        align-items: center;
    }
}

@media (max-width:840px) {
    main {
        background-color: #f2f2f2;
        background-image: none;
        overflow: auto;
    }
    .titulo {
        font-size: 22px;
        height: 14vh;
    }
    .espaco-botoes {
        flex-direction: column;
    }
    .botoes-de-medida {
        margin-bottom: 7px;
        width: 80vw;
    }
    .area-de-conversao {
        background-color: #e8e8e8;
        border-radius: 20px;
        box-shadow: 0 0 10px -5px black;
        height: auto;
        margin-top: 50px;
        margin-bottom: 2em;
        width: 87vw;
    }
    .lado-a-lado{
        flex-direction: column;
    }
    .organizacao-conversao {
        align-items: center;
    }
    .convertido {
        margin-bottom: 50px;
    }
}